@media (max-width: 1200px) {
    .banner-content h1 {
        letter-spacing: 15px;
    }
    
}

@media (max-width: 991px) {
    .menu ul li a {
        padding: 0 35px;
    }
    .menu ul {
        display: flex;
        justify-content: center;
    }
    .logo a {
        padding-bottom: 10px;
    }
    .header-right > ul {
        display: flex;
        justify-content: flex-start;
        padding: 0;
    }
    .header-right > ul > li a {
        padding: 0 20px;
    }
    .banner-area {
        padding-left: 20px;
    }
    .banner-content h1 {
        letter-spacing: 0;
    }
    .shipping, .guarantee {
        margin-bottom: 20px;
    }
    .summer-sale-right {
        text-align: right;
    }
    .summer-green {
        text-align: center;
        padding-bottom: 100px;
        margin: 100px 0;
    }
    .summer-green-right {
        margin-left: 0;
      }
    .summer-green-watch {
        position: absolute;
        top: 0;
        left: 50%;
    }
    .about, .quick-link {
        margin-bottom: 20px;
    } 
}

@media (max-width: 768px) {
    .menu ul li a {
        padding: 0 15px;
    }
    .banner-content h1 {
        margin: 70px 0;
    }
    .btn-banner {
        margin: 30px 0;
    }
    .recent-news {
        padding: 50px 0;
    }
}

@media (max-width: 576px) {
    .banner-area {
        padding: 70px 20px 150px 10px;
        text-align: center;
    }
    .banner-content h1 {
        font-size: 35px;
    }
    .logo {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
    .menu-icon{
        display: block;
        padding: 10px;
        font-size: 20px;
    }
    .menu {
        display: none;
    }
    .description {
        position: absolute;
        top: 0;
        left: 0;
        text-align: justify;
        width: 100%;
      }
      .summer-sale-left h2 {
          font-size: 35px;
      }
      .summer-sale-right h4 {
        font-size: 25px;
      }
      .summer-sale {
          padding: 100px 50px;
      }
      .summer-green-left h2 {
        font-size: 35px;
    }
    .summer-green-right h4 {
      font-size: 25px;
    }
    .summer-green {
        padding: 100px 50px;
        margin: 30px 0 50px;
    }
    .summer-green-watch {
        width: 200px;
        height: 200px;
    }

}